<div id="header" class="row">

    <div class="large-3 columns">
        <img src="{{ STATIC_URL }}/img/logo.png" alt="fotec"/>
    </div>
    <ul class="no-bullet nav large-9 columns">
        <li>
            {% if user.is_authenticated %}
                <a href="/accounts/logoff/">Sair</a>
            {% else %}
                <a href="/accounts/logon/">Entrar</a>
            {% endif %}
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="/pacientes/">Pacientes</a>
            </li>
            <li>
                <a href="/consultas/">Consultas Médicas</a>
            </li>
        {% endif %}
        <li>
            <a href="/home/">Início</a>
        </li>
    </ul>
</div>