#container {

    & > aside {
        .tabs {
            ul {
                li {
                    img {
                        background: $black;
                    }

                    .post-title {
                        margin: 0 0 10px 0;
                        padding: 0 0 10px 0;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 400;
                        border-bottom: 1px #f0f0f0 dotted;
                        border-bottom-color: rgba(0,0,0,0.15);
                    }

                    .post-meta {
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #999;
                        color: rgba(0,0,0,0.35);
                    }
                }
            }
        }
    }

    .content {
        .banner {

            .flexslider {
                background: $black;
                position: relative;

                .slide-caption {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    z-index: 888;
                    background-color: #000;
                    color: $white;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 15px;

                    h5 {
                        font-weight: 600px;
                    }

                    .date {
                        margin: 0;
                        color: #EEE;
                        text-transform: uppercase;
                        font-size: 13px;
                    }

                    h5 {
                        margin: 0;
                    }

                    p {
                        margin-bottom: 5px;
                    }

                    a {
                        color: $white;
                    }
                }
            }
        }

        .posts {
            margin-top: 60px;

            article {
                margin-top: 40px;
                overflow: hidden;
                display: block;
                background-color: $white;
                box-shadow: 0 0 0 1px rgba(0,0,0,0.06), 0 4px 10px rgba(0,0,0,0.06);
                margin-right: 1px;
                margin-left: 1px;
                margin-bottom: 2px;
                border-radius: 2px;

                figure {
                    margin: 0;
                    position: relative;

                    figcaption {
                        position: absolute;
                        top: 0;
                        width: 100%;

                        .line {
                            top: 0;
                            width: 100%;
                            height: 8px;
                            background-color: $blue;
                        }

                        h6 {
                            position: absolute;
                            left: 10px;
                            top: 0;
                            display: block;
                            background-color: $blue;
                            color: #FFF;
                            font-size: 13px;
                            text-transform: uppercase;
                            line-height: 26px;
                            padding: 5px 15px;
                            z-index: 80;
                            border-radius: 3px;
                            box-shadow: inset 0 -3px 0 rgba(0,0,0,0.08);
                            font-weight: 400;
                        }
                    }

                }

                .description {
                    padding: 0 30px;

                }

                .read-more {
                    margin-bottom: 15px;
                }

                header h2 {
                    padding: 30px 35px 20px;
                    text-align: center;

                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}