{% extends "base.html" %}

{% load jsonify %}

{% block header %}
    {% include "gui/partials/header.html" %}
{% endblock %}

{% block container %}
    <div id="container" class="row">
        <form class="add-form" data-custom="custom_data_save_data_table_consultas" action="/adicionar_consultas/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="columns">
                <button type="submit" class="add-button button large-2 columns">Salvar relatório</button>
            </div>
            <div class="large-4 columns">
                <label for="residentes_fora_da_area_de_abrangencia">Residentes fora da área de abrangência</label>
                <input id="residentes_fora_da_area_de_abrangencia" name="residentes_fora_da_area_de_abrangencia" type="text" data-required="Preencha o número de residentes fora da área de abrangência
"></input>
            </div>
            <div class="large-4 columns">
                <label for="area">Área</label>
                <select id="area" class="selector" name="area">
                    {% for area in areas %}
                        <option value="{{ area.pk }}">{{ area }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="large-2 columns">
                <label for="ano">Ano</label>
                <select id="ano" class="selector" name="ano">
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="large-2 columns">
                <label for="mes">Mês</label>
                <select id="mes" class="selector" name="mes">
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </form>
        <div id="data_table" class="column"></div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var data = [
            [0,],
            [0,],
            [0,],
            [0,],
            [0,],
            [0,],
            [0,],
            [0,],
            [0,],
            ];
        $("#data_table").handsontable({
            data: data,
            colHeaders: ["Residentes na área de abrangência da equipe",],
            rowHeaders: ["< 1", "1-4", "5-9", "10-14", "15-19", "20-39", "40-49", "50-59", "> 60"],
            height: 300,
            stretchH: 'all',
        });
    </script>
{% endblock %}