{% extends 'base.html' %}

{% block header %}
    {% include "gui/partials/header.html" %}
{% endblock %}

{% block container %}
    <div id="container-login" class="clearfix">
        <section class="row">
            <div class="large-4 large-centered column">
                <form data-ajax="false" action="/accounts/logon/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="large-16 large-centered column">
                        <h4 class="text-center">Entar no Dashboard SUS</h4>
                        <input id="username" class="full" name="username" data-required="É necessário inserir um nome de usuário." type="text" autocomplete="false">
                        <input id="password" class="full" name="password" data-required="É necessário inserir uma senha." type="password" autocomplete="false">
                        <div class="row">
                            <div class="text-right columns">
                                <input id="submit" class="button" value="entrar" type="submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

