$lighter-black: #222222;
$light-black:   #474747;
$black:         #000000;

$light-blue:    #40B1B2;
$blue:          #199CD8;
$dark-blue:     #032373;

$lightest-white:#f9f5f2;
$white:         #ffffff;